In [4]:
#print 0 to 20 by using Range

In [5]:
range(0,20)

range(0, 20)

In [8]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# print range 10 to 20

In [9]:
range(10,20)

range(10, 20)

In [10]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [ ]:
#TO find out Number of items in the lists

In [14]:
lists=(10,20,14,55,43,87,76)

In [13]:
len(lists)

7

In [62]:
print("Artificial Intelligence")

Artificial Intelligence

In [37]:
text="Artificial Intelligence"
print(text)
for char in text:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [38]:
input("-Your Name-")
input("-Your Age_")
input("-Your Profession-")

-Your Name-
-Your Age_
-Your Profession-

''

In [40]:
tuple=()
print("The Mixed Data Type")
print(tuple)

The Mixed Data Type
()

In [ ]:
#Print The Mixed Data Type

In [41]:
tuple=(1, 'Welcome', 2 , 'Hope')
print("The Mixed Data Type")
print(tuple)

The Mixed Data Type
(1, 'Welcome', 2, 'Hope')

In [ ]:
#Print Tuple with Nested Tuples

In [43]:
tuple1=(0,1,2,3)
tuple2=('python','HOPE')
tuple3=(tuple1,tuple2)
print("Tuple with Nested Tuples")
print(tuple3)

Tuple with Nested Tuples
((0, 1, 2, 3), ('python', 'HOPE'))

In [ ]:
#Print Odd Numbers in the list

In [57]:
lists=(20,10,16,19,25,1,276,188)
for num in lists:
    if(num%2==1):
            print(num, "is Odd")

19 is Odd
25 is Odd
1 is Odd

In [46]:
#Print the Even Number in the list

In [60]:
lists=(20,10,16,19,25,1,276,188)
for num in lists:
    if(num%2==0):
        print(num, "is Even ")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even